@import url(./fonts.css);


:root {
    --font-primary: 'Roboto';
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1376px;
    width: 100%;
    margin: auto;
    padding: 0 12px;
}

/* header start */


/* header end */


/* membership start */

.membership__title {
    font-weight: 700;
    font-size: 51px;
    line-height: 54px;
    text-align: center;
    letter-spacing: 0.5px;
    color: #692340;
}

.membership__text {
    font-weight: 700;
    font-size: 20px;
    line-height: 30px;
    text-align: center;
    color: #692340;
    width: 676px;
    margin: auto;
    margin-top: 30px;
}

.membership__cards {
    display: flex;
    justify-content: center;
    column-gap: 100px;
    margin-top: 100px;
}


.membership__card-title {
    font-weight: 400;
    font-size: 24px;
    line-height: 31px;
    text-align: center;
    color: #692340;
    width: 150px;
    margin-top: 30px;
}

.membership__card-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    color: #692340;
    width: 180px;
    margin-top: 20px ;
}

/* membership end */


/* guide start */

/* guide end */


/* info start */



/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */