@import url(./fonts.css);


:root{
    --font-primary: 'Roboto';
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font-primary);
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
.container{
    max-width: 1376px;
    width: 100%;
    margin: 0 auto;
    padding: 0 12px;
}

/* header start */
    .nav{
        width: 100%;
        padding: 21px 0;
    }
    .nav__container{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .nav__list{
        display: flex;
    }
    .nav__item{
        margin-right: 44px;
    }
    .nav__link{
        color: #241C15;
        font-weight: 400;
        font-size: 16px;
    }
    .nav__reg{
        display: flex;
        align-items: center;
   
    }
    .nav__reg-login{
       width: 100px;
       width: 100%;
       padding: 12px 0;
       border: 2px solid #241C15;
       font-weight: 700;
       font-size: 16px;
       text-align: center;
        display: inline-block;
    }
    .nav__reg-sign{
        width: 118px;
        width: 100%;
        font-size: 14px;
        font-weight: 700;
        border: 2px solid #241C15;
        padding: 12px 0;
        margin-left: 24px;
        display: inline-block;
        text-align: center;
    }

/* header end */



/* membership start */




/* membership end */

/* guide start */




/* guide end */


/* info start */




/* info end */


/* slider start */




/* slider end */


/* already start */




/* already end */




/* community start */




/* community end */


/* place start */




/* place end */


/* footer start */




/* footer end */



